.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 End-to-end security with GitLab
    %p
      %strong

      %ul
        %li
          %strong Application security testing and remediation.
          With every code commit, GitLab provides actionable vulnerability findings to developers while helping security pros manage remaining vulnerabilities through resolution.
        %li
          %strong Cloud Native Application Protection.
          GitLab Protect capabilities help you monitor and protect your Cloud Native production software environments.
        %li
          %strong Policy Compliance and Auditability.
          GitLab’s MR approvals, end-to-end transparency of who changed what, when, and where, along with a compliance dashboard and common controls help you meet your compliance needs. 
          %a{ href: "https://about.gitlab.com/solutions/compliance/"}
        %li
          %strong SDLC Platform Security.
          See how we secure the GitLab software.
          %a{ href: "https://about.gitlab.com/security/"}
%hr.divider
